.resultContainer {
  width: 600px;
  height: 100vh;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* Add some spacing inside */
  box-sizing: border-box; /* Include padding in height calculation */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.resultContainer::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
